.filter-area {
    background-color: aliceblue;
    box-shadow: 0px 24px 48px 0 rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.page-content-tours {
    display: grid;
    grid-gap: 4rem;
}

@media only screen and (max-width: 600px) {
    .page-content-tours {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 600px) {
    .page-content-tours {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 768px) {
    .page-content-tours {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (min-width: 992px) {
    .page-content-tours {
        grid-template-columns: repeat(4, 1fr);
    }
}